.goog-te-banner-frame
{
    display: none !important;
}

.top
{
    top:0 !important;
}

.google_translate_element
{
    width: fit-content;
}

.goog-text-highlight
{
    background-color: transparent !important;
    box-shadow: none !important;
    position: relative !important;
}

.goog-te-gadget
{
    width: fit-content;
    margin: 1rem !important;
}

.goog-te-combo{
    display: none !important;
    width: 0;
    height: 0;
}

#google_translate_element
{
    display: none;
}